<!-- #* -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
<!-- *#calendar -->
<table border=0 class="cal" align="Center">
<tr>
<td colspan="7" align="center">
<b>$date.strftime("%B") $date.year</b>
</td>
</tr>
<tr>
#for $day in $daynames
<td style="realsmall">$day</td>
#end for
</tr>
#for $row in $weeklist
<tr>#slurp
 #for $day in $row
  #if $day == $date.day and $nohighlight != 1 
<td align="center" bgcolor="#ff9999" style="realsmall">#slurp
  #else
<td align="center" style="realsmall">#slurp
  #end if
  #if $day
   #if $daylinks[$day]
<a href="$daylinks[$day]">$day</a>#slurp
   #else
    $day#slurp
   #end if
  #end if
</td>
 #end for
</tr>
#end for
<tr>
<td colspan="3" align="right">
#if $previousmonth
<a href="$previousmonthurl">$previousmonth.strftime("%b")</a>
#end if
</td>
<td></td>
<td colspan="3" align="left">
#if $nextmonth
<a href="$nextmonthurl">$nextmonth.strftime("%b")</a>
#end if
</td>
</tr>
</table>
<!-- #* -->
</body>
</html>
<!-- *#/calendar -->