<!--
#from base import base
#extends base
#*
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head><title></title></head><body>
<!-- *#daypage -->

#block title
disLEXia - overview for $date.longdate
#end block title

#block pageheader
<h1>disLEXia</h1>
<h2>overview for $date.longdate</h2>
#end block pageheader 


#block pagecontent
	    <h3><a name="$date.compactdate" href="$daypage"><img border="0" src="http://downloads.redjupiter.com/users/images/theme35/permalink.gif"></a>
	      $date.longdate</h3>
	    
	    #for $x in $itemlist
$x.rendered
	    #end for

#end block pagecontent
<!-- #* -->
  </body>
</html>
<!-- *#/daypage -->