<!-- #* -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    <!-- *#sidebar -->
    <table summary="sidebar with links" width="160" border="0" cellspacing="0" cellpadding="0">
	<tr><td width="13"><img src="http://md.hudora.de/blog/images/topLeft.gif" border="0" width="13" height="14" alt=""></td><td background="http://md.hudora.de/blog/images/topBg.gif" width="100%"><img src="http://md.hudora.de/blog/images/topBg.gif" border="0" width="10" height="14" alt=""></td><td width="19"><img src="http://md.hudora.de/blog/images/topRight.gif" border="0" width="19" height="14" alt=""></td></tr><tr><td background="http://md.hudora.de/blog/images/leftBg.gif" width="13"><img src="http://md.hudora.de/blog/images/leftBg.gif" border="0" width="13" height="10" alt=""></td>
        <td bgcolor="#EEEEEE" width="100%">
          $calendar 
          <div class="c1">
            <hr size="1">
            <form method="get" action="http://md.hudora.de/cgi-bin/search.cgi">
              <small><a href="http://md.hudora.de/cgi-bin/search.cgi">Search</a>: <input type="text" name="q" size="6"> <input type="submit" value="Go"></small>
            </form>
          </div>
          <div class="c1">
            <br>
	      <!--
<a href="http://127.0.0.1:5335/system/pages/subscriptions?url=http://radio.weblogs.com/0112292/rss.xml" title="Click on the XML coffee mug to subscribe to &quot;disLEXia&quot; in Radio UserLand."><img src="http://md.hudora.de/blog/images/xmlCoffeeCup.gif" border="0" width="36" height="36" alt="Subscribe to &quot;disLEXia&quot; in Radio UserLand."></a>
          </div>
          <div class="c1">
            <br>
             <a href="http://radio.weblogs.com/0112292/rss.xml" title="Click to see the XML version of this web page."><img src="http://md.hudora.de/blog/images/xml.gif" border="0" width="36" height="14" alt="Click to see the XML version of this web page."></a>
          </div>
          <div class="c1">
            <br>
             <a href="http://radio.xmlstoragesystem.com/rcsPublic/mailto?usernum=0112292" title="Click here to send an email to the editor of this weblog."><img src="http://static.userland.com/shortcuts/images/qbullets/mailto.gif" width="14" height="10" border="0" alt="Click here to send an email to the editor of this weblog."></a>
-->
          </div>
        </td>
        <td width="19" background="http://md.hudora.de/blog/images/rightBg.gif">
          <img src="http://md.hudora.de/blog/images/rightBg.gif" border="0" width="19" height="9" alt="">
        </td>
      </tr>
      <tr>
        <td width="13">
          <img src="http://md.hudora.de/blog/images/bottomLeft.gif" border="0" width="13" height="20" alt="">
        </td>
        <td background="http://md.hudora.de/blog/images/bottomBg.gif" width="100%">
          <img src="http://md.hudora.de/blog/images/bottomBg.gif" border="0" width="10" height="20" alt="">
        </td>
        <td width="19">
          <img src="http://md.hudora.de/blog/images/bottomRight.gif" border="0" width="19" height="20" alt="">
        </td>
      </tr>
    </table>
<!-- #* -->
    </body>
</html>
<!-- *#/sidebar -->
